* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('./img/pexels-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 84px;
    letter-spacing: 3px;
    color: orange;
    text-shadow: 1px 5px 10px black;
}

canvas {
    background-color: black;
    display: block;
}

#steering {
    width: 720px;
    display: flex;
    justify-content: space-around;
    color: orange;
    letter-spacing: 3px;
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 2px 5px black;
    letter-spacing: 4px;
}

#start {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right -60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: absolute;
    left: 0;
    right: 0;
    height: 480px;
}

.btn {
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: orange;
    padding: 20px 80px;
    cursor: pointer;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: rgb(220, 220, 220);
}

/* <--------------Game settings----------> */

#buttons {
    padding: 5px 10px;
    display: flex;
    gap: 20px;
    position: absolute;
    right: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

#mute-button {
    display: flex;
}

#quit-button-game {
    background-image: url('./img/10_buttons/quit.png');
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#quit-button-game,
#restart,
#mute,
#fullscreen {
    border: none;
    width: 35px;
    height: 40px;
    outline: none;
}

#quit-button-game:hover,
#restart:hover,
#mute:hover,
#fullscreen:hover {
    cursor: pointer;
}

#restart {
    background-image: url('./img/10_buttons/reload.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.mute-off {
    background-image: url('./img/10_buttons/sound-on.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.mute-on {
    background-image: url('./img/10_buttons/sound-off.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#fullscreen {
    background-image: url('./img/10_buttons/fullscreen.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

#endscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    height: 480px;
    background-image: url("./img/9_intro_outro_screens/game_over/oh\ no\ you\ lost!.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


/*Smartphones-------*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/*Smartphones-------*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    h1 {
        display: none;
    }
}