* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-color: lightgray;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('./img/pexels-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 84px;
    letter-spacing: 3px;
    color: orange;
    text-shadow: 1px 5px 10px black;
}

canvas {
    background-color: black;
    display: block;
}

#steering {
    width: 90%;
    display: flex;
    justify-content: space-around;
    color: orange;
    letter-spacing: 3px;
    font-size: 24px;
    text-align: center;
    text-shadow: 1px 2px 5px black;
    letter-spacing: 4px;
    pointer-events: none;
    position: absolute;
    bottom: 10%;
}

#steering span {
    text-decoration: underline;
    text-underline-offset: 6px;
}

#start {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right -60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: absolute;
    min-height: 480px;
    width: 100%;
    max-width: 720px;
}

.btn {
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: orange;
    padding: 10px 80px;
    cursor: pointer;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: rgb(220, 220, 220);
    box-shadow: inset 1px 2px 10px black;
}

/* <--------------Game settings----------> */

#buttons {
    padding: 5px 10px;
    display: flex;
    gap: 20px;
    position: absolute;
    right: 40%;
    top: 5%;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

#button-container-info {
    width: 5%;
    height: 5%;
    position: absolute;
    left: 5%;
    top: 5%;
    cursor: pointer;
}

#mute-button {
    display: flex;
}

#quit-button-game {
    background-image: url('./img/10_buttons/quit.png');
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#quit-button-game,
#restart,
#mute,
#fullscreen {
    border: none;
    width: 35px;
    height: 40px;
    outline: none;
}

#quit-button-game:hover,
#restart:hover,
#mute:hover,
#fullscreen:hover {
    cursor: pointer;
}

#restart {
    background-image: url('./img/10_buttons/reload.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.mute-off {
    background-image: url('./img/10_buttons/sound-on.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.mute-on {
    background-image: url('./img/10_buttons/sound-off.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#fullscreen {
    background-image: url('./img/10_buttons/fullscreen.png');
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

#endscreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    background-color: black;
    overflow: hidden;
    width: 720px;
    height: 480px;
    background-image: url("./img/9_intro_outro_screens/game_over/oh\ no\ you\ lost!.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#winscreen {
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

#winscreen img {
    width: 70%;
    filter: drop-shadow(15px 15px);
}

#landscape {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 60px;
    color: black;
    padding: 50px;
    width: 100%;
}

#landscape span {
    text-wrap: balance;
}

#landscape img {
    max-width: 70%;
}

#landscape span {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.full-image-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#steering-buttons-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    border-radius: 15px;
}

.steering-left-side {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 50%;
    padding-left: 20px;
}

.steering-right-side {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 50%;
    padding-right: 20px;
    align-items: center;
    padding-bottom: 5px;
}

#imprint {
    width: 720px;
    height: 480px;
    background-color: orange;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    text-shadow: 1px 1px white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 24px;
    overflow: scroll;
    scrollbar-width: none;
}

#imprint h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

#close-x {
    position: sticky;
    top: 0px;
    border-radius: 25%;
    cursor: pointer;
    width: max-content;
    margin-left: auto;
    font-size: 35px;
    text-shadow: none;
}

.canvas-body {
    position: relative;
}

.icons-from {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}

.icons-from a:hover {
    color: rgba(0, 0, 0, 0.7);
}

#steering-buttons-mobile img {
    width: 15%;
    cursor: pointer;
}

.image-throw-span {
    transform: rotate(-60deg);
}

.arrow-right-rotatedZ-270 {
    transform: rotateZ(270deg);
}


/*Smartphones-------*/
@media only screen and (max-width: 720px) {
    #canvas {
        width: 100%;
    }

    #start {
        display: block;
        width: 100%;
    }
}

/*Smartphones-------*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 500px) and (orientation: landscape) {
    #landscape {
        display: block !important;
    }

    #start {
        background-position: center;
    }

    #endscreen {
        width: 100%;
        height: 100vh;
    }

    .btn {
        padding: 0 40px;
    }

    #buttons {
        top: 0;
    }
}

@media only screen and (width >=500px){
    #landscape {
        display: none !important;
    }

    #start {
        background-position: center;
    }
}

@media (pointer: coarse) and (orientation: landscape) {
    #steering-buttons-mobile {
        display: flex !important;
    }

    #steering {
        display: none;
    }

    #start {
        max-width: unset;
    }

    #winscreen {
        width: 100%;
    }

    #endscreen {
        width: 100%;
    }

    #button-container-info {
        top: 15%;
    }

    #start-button {
        margin-top: 15px;
        padding: 5px 40px;
    }
}